* {
  box-sizing: border-box;
}
::selection {
  color: #fffea1;
  background: #ddfdff;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  cursor: default;
}
body {
  background: linear-gradient(135deg, #1a86d2 0%, #38cdf7 100%);
  color: #fff;
  text-shadow: 0 1px 1px #363636;
  font-family: 'Fira Mono', monospace;
  line-height: 1.6;
  display: flex;
  justify-content: center;
}
a {
  color: #fdffc6;
  border-bottom: 1px solid #fdffc6;
  text-decoration: none;
}
.container {
  animation-name: fade-in-down;
  animation-duration: 2.4s;
  animation-fill-mode: both;
  background: linear-gradient(135deg, rgba(255,255,255,0.12) 0%, rgba(255,255,255,0.18) 35%, rgba(255,255,255,0.12) 52%, rgba(255,255,255,0.18) 73%, rgba(255,255,255,0.14) 100%);
  align-self: center;
  margin-bottom: 20vh;
  width: 480px;
  border: 2px solid rgba(255,255,255,0.4);
  box-shadow: 0 0 120px 8px rgba(255,255,255,0.22), 0 0 40px rgba(255,255,255,0.16), 0 0 200px 10px rgba(255,255,255,0.16);
  padding: 20px 26px;
  transition: border-color ease-out 1.2s;
}
.container:hover {
  border-color: rgba(255,255,255,0.66);
}
@media screen and (max-width: 480px) {
  .container {
    width: 90vw;
    word-break: break-all;
  }
}
header {
  margin-bottom: 20px;
}
h1 {
  font-size: 28px;
  margin: 0 0 12px;
}
.sub-heading {
  font-size: 18px;
}
p {
  font-size: 16px;
  margin: 0 0 10px;
}
@-moz-keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  60% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
