link-color=#FDFFC6

t-w(val)
  rgba(255, 255, 255, val)

t-b(val)
  rgba(0, 0, 0, val)

*
 box-sizing border-box 

::selection 
  color #FFFEA1
  background #DDFDFF

@keyframes fade-in-down
  from
    opacity 0
    transform translate3d(0, -100%, 0)
  
  60%
    opacity .5

  to
    opacity 1
    transform none

animation-in()
  animation-name fade-in-down
  animation-duration 2.4s
  animation-fill-mode both

html, body
  padding 0; margin 0
  min-height 100vh
  cursor default

body
  background linear-gradient(135deg, #1A86D2 0%, #38CDF7 100%)
  color #fff
  text-shadow 0 1px 1px #363636
  font-family 'Fira Mono', monospace
  line-height 1.6
  display flex
  justify-content center

a
  color link-color
  border-bottom 1px solid link-color
  text-decoration none

.container
  animation-in()
  background linear-gradient(135deg, t-w(.12) 0%, t-w(.18) 35%, t-w(.12) 52%, t-w(.18) 73%, t-w(.14) 100%)
  align-self center
  margin-bottom 20vh
  width 480px
  border 2px solid t-w(.4)
  box-shadow 0 0 120px 8px t-w(.22), 0 0 40px t-w(.16), 0 0 200px 10px t-w(.16)
  padding 20px 26px
  transition border-color ease-out 1.2s, box-shadow ease-out 1.2s
  &:hover
    border-color t-w(.66)
    box-shadow 0 0 120px 12px t-w(.32), 0 0 40px t-w(.26), 0 0 200px 14px t-w(.26)
  @media screen and (max-width 480px)
    width 90vw
    word-break break-all

header
  margin-bottom 20px

h1
  font-size 28px
  margin 0 0 12px
  .small
    font-size 60%
    opacity .76

.sub-heading
  font-size 18px

section
  border-top 1px solid t-w(.36)
  box-shadow 0 1px 0 t-b(.12) inset 
  padding 12px 0

p
  font-size 16px
  margin 0 0 10px
